.App-footer {

    .copyright-row .col,
    .navigation-row .col {
        max-width: 1600px;
    }

    .copyright-text {
        padding: 24px 48px;
    }

    .navigation-row .col {
        @include media-breakpoint-down(lg) {
            padding-top: 46px;
            padding-bottom: 46px;
        }

        @include media-breakpoint-up(lg) {
            padding-top: 51px;
            padding-bottom: 64px;
        }
    }

    .logo-container {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .footer-nav-container {
        @include media-breakpoint-down(lg) {
            padding: 0 86px;
        }

        @include media-breakpoint-down(xl) {
            gap: 30px;
        }

        @include media-breakpoint-up(xl) {
            gap: 157px;
        }
    }

    .footer-nav-group {
        @include media-breakpoint-up(xl) {
            max-width: 276px;
        }

        .group-heading {
            margin-bottom: 20px;
        }

        .nav {
            @include media-breakpoint-down(lg) {
                gap: 10px;
            }

            @include media-breakpoint-up(lg) {
                gap: 15px;
            }
        }

        .nav-item {
            gap: 16px;

            @include media-breakpoint-down(lg) {
                font-size: 14px;
            }

            @include media-breakpoint-up(lg) {
                font-size: 18px;
            }
        }
    }
}