.App-footer {
    .copyright-row {
        padding: 24px 0;

        > .col {
            gap: 16px;
        }
    }

    .navigation-row > .col {
        padding-top: 46px;
        padding-bottom: 46px;

        @include media-breakpoint-up(lg) {
            padding-top: 51px;
            padding-bottom:64px;
        }
    }

    .logo-container {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .footer-nav-container {
        > .row {
            gap: 30px;
        }
    }

    .footer-nav-group {
        .group-heading {
            margin-bottom: 20px;
        }

        .nav {
            gap: 10px;

            @include media-breakpoint-up(lg) {
                gap: 15px;
            }
        }

        .nav-item {
            gap: 16px;
            font-size: clamp(0.875rem, 0.7985rem + 0.3265vw, 1.125rem);

            p {
                max-width: 240px;
            }

            .phone-icon {
                width: 20px;
            }
        }
    }
}
