.banner-side-by-side {
    .content {
        max-width: 741px;
        gap: 1.5rem;

        @include media-breakpoint-down(lg) {
            text-align: center;
            align-items: center;
        }

        @include media-breakpoint-up(lg) {
            gap: 2.625vw;
        }
    }

    .text-content {
        gap: 0.5rem;

        @include media-breakpoint-up(lg) {
            gap: 1vw;
        }
    }

    .sub-heading {
        font-size: clamp(1rem, 0.5385rem + 0.9615vw, 1.5rem);
    }

    .banner-desc {
        font-size: clamp(0.75rem, 0.2885rem + 0.9615vw, 1.25rem);
    }

    .banner-disclaimer {
        font-size: clamp(0.625rem, 0.2788rem + 0.7212vw, 1rem);
    }

    .cta {
        font-size: clamp(1rem, 0.8469rem + 0.6531vw, 1.5rem);
        width: 100%;

        @include media-breakpoint-up(md) {
            width: clamp(21.9375rem, 19.284rem + 7.055vw, 27.75rem);
        }
    }

    .banner-container {
        @include media-breakpoint-down(lg) {
            padding-left: 0;
        }
    }

    .text-container {
        @include media-breakpoint-down(lg) {
            justify-content: center;
        }
    }
}