$primary: #DF4F3A;
$primary-80: rgba(223, 79, 58, 0.8);
$secondary: #242424;
$grey-1: #94A1A1;
$off-white-1: #F9F7F5;

/*Custom breakpoints*/
$grid-gutter-width: 48px;
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  xxxl: 1600px
);
$enable-cssgrid: true;
